<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <!-- html과 css 연결 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    <!-- 이메일 전송 완료를 알리기 위하여 팝업을 띄우기 위해 javascript 사용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.6/pure-min.css">

    <script>
        function showPopup(){
            alert("E-mail transmission complete" )
        }
    </script>
</head>
<body>
    <h1> e_mail test page </h1>
    <main>
        <h4>select</h4>
        <form id="myForm" action="/send_mail" method="post">
            <select id="select" name="select" required onchange="this.form.submit()">
                <option value=""> select</option>
                <option value="Approve"> Approve </option>
                <option value="Defer"> Defer </option>
                <option value="Reject"> Reject </option>
            </select>
        </form>
        {% if msg == 'Approve' %}
            <h3>Input Day</h3>
            <form action="/approve" method="post" onsubmit="showPopup()">
                date <input type="date" id="date" name='date' required><br>
                time <input type="time" id="time" name='time' required><br>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
        {% if msg == 'Defer' %}
            <h3>Defer</h3>
            <form action="/Defer" method="post" onsubmit="showPopup()">
                <select id="Defer" name="Defer" required>
                    <option value=""> select</option>
                    <option value="a"> a </option>
                    <option value="b"> b </option>
                    <option value="c"> c </option>
                </select>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
        {% if msg == 'Reject' %}
            <h3>Reject</h3>
            <form action="/reject" method="post" onsubmit="showPopup()" >
                <select id="reject" name="reject" required>
                    <option value=""> select</option>
                    <option value="a"> a </option>
                    <option value="b"> b </option>
                    <option value="c"> c </option>
                </select>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
        
        <h2>Combined Table</h2>
        <div class="container">
            <h1 class="mt-5">Information Table</h1>
            <div class="table-responsive">
                {{ table|safe }}
            </div>
        </div>
    </main>
    
</html>